.cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
  
    margin-left: 400px;
  }
  
  .cards .black {
    background-color: black;
  }
  
  
  
  .cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 250px;
    width: 450px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms transform, 400ms box-shadow, 400ms background-color;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .cards .card p.tip {
    font-size: 1em;
    font-weight: 700;
  }
  
  .cards .card p.second-text {
    font-size: 0.7em;
  }
  
  .cards .card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 255, 0.1);
    color: #333;
  }
  
  .cards:hover > .card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  