.barraNav{
  padding: 20px;
  
  margin-bottom: 25px;
  position: sticky;
  width: 100%;

}
.li-bg:hover{
  background-color: black;
  padding: 5px 15px;
  border-radius: 15px;
  box-shadow: 2px 5px 15px gray;
  color: white;
  
}